/*style.css*/
@import url('https://webfontworld.github.io/jeju/JejuMyeongjo.css');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:#000;
}


   /* common */

    ul {
        list-style: none;
        margin:0;
        text-decoration: none;
    }
    body {
        background:#ffffff;
        margin:0;
        font-family: 'Jeju Myeongjo', serif; 
        color:#000;
    }
    header {
       border-bottom:1px solid #999;
       padding-bottom: 46px;
    }
    main {
        text-align: center;
        font-size: 16px;
    }
    p {
        line-height:200%;
        letter-spacing:-.05rem;
    }
    img {
        width:100%;
    }

    /* header */
    .header_name {
        font-size:25px; 
        text-align:center; 
        letter-spacing: .2rem;;
        line-height:80px; 
        border-top:1px solid #999; 
        border-bottom: 1px solid #999;
        margin: 60px 0 38px;
    }
    .main_img {
        position:relative;
        padding:0 16px;
    }
    .main_img .date_wedding {
        position: absolute;
        width: calc(100% - 32px);
    }
    .main_img .photo_main_01 {
        border-radius:100%;
        padding-top:26px;
    }
    .time_to_wedding {
        padding:0 16px;
        font-size: 20px;
        letter-spacing: .1rem;
        line-height: 120%;
    }

    /* main */
    .hello_intro {
        border-top: 1px solid #999;
        border-bottom: 1px solid #999;
        margin-top: 70px;
        padding:46px 0 52px;
        color:#444;
    }
    .hello_intro .wording_intro {
        margin-bottom: 20px;
        line-height: 180%;
        letter-spacing: .03rem;
    }
    .named_introduce {
        margin: 50px;
    }
    .named_introduce .dot {
        width: 6px;
        height: 6px;
        border-radius : 100%;
        position: absolute;
        margin-top: 9px;
        margin-left: -18px;
    }
    .named_introduce .gender_color {
        display:inline-block;
        position: relative;
        margin-bottom: 15px;
        
    }
    .named_introduce .dot.blu {
        background:#31A7CD;
    }

    .named_introduce .dot.pink {
        background:#F36FFF;
    }   

    .named_introduce .bold_em {
        font-weight: bold;
        color:#000;
        font-size:20px;
        letter-spacing: .2rem;
    }

    .suseo_logo {
        width:30%;
    }
    .gallery_header {
        border-bottom: 1px solid #999;
        margin: 0 16px;
        padding: 20px 0;
    }
    .gallery_header img {
        width: 50%;
    }
    .gallery_content {
        padding: 0 16px;
    }
    .slide-wrapper {
        display:flex;
        white-space: nowrap;
        overflow: auto;
   } 
   .gallery {
       padding-bottom: 46px;
   }
   .counter {
        display:inline-block;
        padding: 10px;
        font-weight: 900;
        font-size:23px;
    }
    .calendar_may {
        width:40%;
        float:left;
        padding:60px 0 30px;
    }
    .calendar_header{
        padding:22px 10px;
        border-top: 1px solid #999;
        border-bottom:1px solid #999;
    }
    .calendar_content {
        padding:20px 10px 30px;
        border-bottom: 1px solid #999;
        position:relative;
    }
    .calendar_content:after {
        content:'';
        position: absolute;
        bottom:0;
        right:0;
        border:3px solid #000;
        border-radius:100%;
        width:20px;
        height:20px;
    }
    .d_day {
        padding:30px 0;
    }

    .time_table {
        background: #ECEDEF;
        padding: 46px 16px;
    }
    .come {
        border-top:1px solid #999;
        padding: 20px 0 30px;
    }

.line1{
    width: 30%;
    border-top: 1px solid #c4c4c4;
    margin-top: 24px;
    margin-left: 35%;
}
#title .container{
   padding-bottom: 40px;
}


.map{
    padding-bottom: 30px;
}

.location_header {padding:20px 0;}

#location .icon {
  margin-left: 16px;
  margin-right: 16px;
 
}
#location .icon .appLink{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 30px 0;
    border-top:1px solid #999;
}
#location .icon .appLink img {
    width:56px;
    border-radius: 100%;
    box-shadow:4px 4px 9px hsl(0deg 0% 0% / 20%);
}
#location .icon ul li:not(:last-child){
    
    padding-right: 30px;
}

#location .icon ul li a p {
   
    font-size: 12px;
}
.transfer{
    padding-top: 40px;
    
    text-align: center;
}
.transfer dt{
    display:inline-block;
    width:60%;
    padding:1.3vh;
    border-radius: 50%;
    border:1px solid #999;
    color:#000;
    font-weight: bold;
}
.transfer dd{
    padding-bottom: 40px;
    margin-top: 10px;
    font-size: 15px;
    line-height: 180%;;
}
.boldddd {
    font-weight: bold;
}

.calendar {
    text-align: center;
    padding: 0 16px;
    border-top:1px solid #999;
}
.calendar_img {
    width:300px;
    padding: 80px 0 50px;
    border-top: 1px solid #e4e2e2;
}

footer{
    width: 100%;
    border-top:1px solid #999;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #000;
}
footer a.num{
    font-weight: bold;
    font-size: 18px;
    color: #fff;
   
}  
footer p, p.strong{
    font-size: 14px;
}
 
footer p.strong{
    font-weight: bold;
    padding-top: 0;
}  
footer p{
    padding-top: 5px;
} 